<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.espinhasoftware.wechatpebble"
    android:versionCode="4"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/wechatpebble"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
        <activity
            android:name="com.espinhasoftware.wechatpebble.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <service
            android:name="com.espinhasoftware.wechatpebble.service.HandleWeChat"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <service android:name="com.espinhasoftware.wechatpebble.service.MessageProcessingService" ></service>
        <service android:name="com.espinhasoftware.wechatpebble.service.PebbleCommService" ></service>
        
        <activity
            android:name="com.espinhasoftware.wechatpebble.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.espinhasoftware.wechatpebble.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.espinhasoftware.wechatpebble.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.espinhasoftware.wechatpebble.MainActivity" />
        </activity>
    </application>

</manifest>
